@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>EQ Equipment Rentals</h1>
    <p>For all of your equipment rental needs. Serving the Tri-State area since 1956.</p>
</div>
<div class="alert-dark">
    <h1>Welcome to EqAssign employee portal:</h1>
    <li>Please use links above to help assist customers</li>
    <li>Remember to smile and tell customers to have a safe trip</li>
    <li>If equipment is returned late or damaged, please contact your supervisor</li>
</div>

<div>
    <p>Time: @DateTime.Now.ToString()</p>
</div>