@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>EQ Equipment Rentals</h1>
    <p>For all of your equipment rental needs. Serving the Tri-State area since 1956.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    <p>Time: @DateTime.Now.ToString()</p>
</div>