@model IEnumerable<EqAssign.Models.Invoice>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Invoices</h2>
<table id="invoice" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>id</th>
            <th>Customer</th>
            <th>Equipment</th>
            <th>Date Rented</th>
            <th>Date Returned</th>
            <th>Returned</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#invoice").DataTable({
                ajax: {
                    url: "/api/invoices",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "id"
                    },
                    {
                        data: "customer.name"
                    },
                    {
                        data: "equipment.name"
                    },
                    {
                        data: "dateRented"
                    },
                    {
                        data: "dateReturned"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-invoice-id=" + data + ">Return</button>";
                        }
                    }
                ]
            });

            $("#invoice").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm({
                    title: "Return Equipment",
                    message: "Has the returns checklist been completed?",
                    buttons: {
                        cancel: {
                            label: 'Cancel'
                        },
                        confirm: {
                            label: 'Confirm'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                                url: "/api/invoices/" + button.attr("data-invoice-id"),
                                method: "PUT",
                                success: function () {
                                    table.row(button.parents("tr")).draw();
                                }
                            });
                        }
                    }
                });
            });

        });
    </script>
}