@model EqAssign.Models.Equipment
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<li>ManufactureDate: @Model.ManufactureDate</li>
<li>PurchaseDate: @Model.PurchaseDate</li>
<li>Stock: @Model.Stock</li>
